body{
    background-color:#99d4f1;
}
.container{
    width: 70%;
    margin: auto;
}
#h1{
    text-align: center;
}
#p1{
    font-size: 30px;
    text-align: center;
}
#pick{
    width: 10%;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #e69d3e;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
}

#user-content{
    text-align: center;
    padding-top: 10px;
}